html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, arial, sans-serif;

  --dark: #1a1a1a;
  --light: #eaeaea;
  --silver: #bdbdbd;

  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

