html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, arial;

  --dark: #1a1a1a;
  --light: #eaeaea;
  --silver: #bdbdbd;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: #ffffff;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
}

