.root {
  padding: 0 2rem;
  user-select: none;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin: 0;
  color: var(--silver);
}

.title {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-top: 1px solid var(--silver);
  align-items: center;
  margin: 0 auto;
  max-width: 85%;
  color: var(--silver);
}

.footer a {
  display: flex;
}

.footer p {
  font-size: 1em;
}

.iconContainer {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
}

.icon {
  width: 25px;
  height: 25px;
  position: relative;
}