.root {
  /* color: #222222;
  background-color: #ffffff;
  background-image: url('/pictures/texture_light.png'); */

  /* height: 100vh; */
  /* margin: 2rem; */

  /* margin-top: 5rem; */
  /* font-weight: 300; */

  --accent: #000D21;

}

.columns {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly; */
}

@media (max-width: 600px) {
  /* .container {
    flex-direction: column-reverse;
  } */
}

.header {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly; */
  margin-bottom: 48px;
}

.name,
.jobTitle {
  /* margin: 0 */
}

.column {
  /* padding: 1rem; */
}

.personalInformation {
}

.name {
  font-size: 2rem;
}

.sectionTitle,
.link {
  color: var(--accent);
}

.sectionTitle {
  font-weight: 500;
  font-size: 1.5rem;
}

.detailsTitle {
  font-weight: 400;
}

.timePeriod {
  font-size: smaller;
  font-weight: 400;
}

.picture {
  border-radius: 100px
}